<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Front camera -->
  <gazebo reference="front_camera_gazebo_link">
    <sensor type="camera" name="camera_front">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>${64.0 * DEG_TO_RAD}</horizontal_fov>
        <image>
          <width>1920</width>
          <height>1080</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_front_controller" filename="libgazebo_ros_camera.so">
        <always_on>true</always_on>
        <update_rate>0.0</update_rate>
        <camera_name>camera_front</camera_name>
        <frame_name>front_camera_link</frame_name>
        <hack_baseline>0.07</hack_baseline>
      </plugin>
    </sensor>
  </gazebo>

</robot>