<?xml version="1.0"?>
<robot name="robomaster" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Position of the Realsense T265 -->
  <xacro:property name="Realsense_T265_Position_x" value="0.2" /> <!-- in m   -->
  <xacro:property name="Realsense_T265_Position_y" value="0.0" /> <!-- in m   -->
  <xacro:property name="Realsense_T265_Position_z" value="0.0" /> <!-- in m   -->
  <xacro:property name="Realsense_T265_Orientation_r" value="0.0" /> <!-- in rad   -->
  <xacro:property name="Realsense_T265_Orientation_p" value="0.0" /> <!-- in rad  -->
  <xacro:property name="Realsense_T265_Orientation_y" value="0" /> <!-- in rad   -->  <!-- Rotation around z Axis   -->

  <!-- Realsense T265 -->
  <xacro:property name="Realsense_T265_dimension_x" value="0.01" />
  <xacro:property name="Realsense_T265_dimension_y" value="0.20" />
  <xacro:property name="Realsense_T265_dimension_z" value="0.02" />

</robot>