<?xml version="1.0"?>
<robot name="robomaster" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Position of the RPLidar A1 Lidar -->
  <xacro:property name="RPLidar_A1_Position_x" value="0.121" /> <!-- in m   -->
  <xacro:property name="RPLidar_A1_Position_y" value="0.0" /> <!-- in m   -->
  <xacro:property name="RPLidar_A1_Position_z" value="0.11" /> <!-- in m   -->
  <xacro:property name="RPLidar_A1_Orientation_r" value="0.0" /> <!-- in rad   -->
  <xacro:property name="RPLidar_A1_Orientation_p" value="0.0" /> <!-- in rad  -->
  <xacro:property name="RPLidar_A1_Orientation_y" value="${M_PI_2}" /> <!-- in rad   -->  <!-- Rotation around z Axis   -->

  <!-- Dimension RPLidar A1 -->
  <xacro:property name="RPLidar_A1_dimension_x" value="0.05" />
  <xacro:property name="RPLidar_A1_dimension_y" value="0.05" />
  <xacro:property name="RPLidar_A1_dimension_z" value="0.03" />
  
  <!-- RpLidar A1-->
  <link name="RPLidar_A1_link">
    <visual>
      <geometry>
        <box
          size="${RPLidar_A1_dimension_x} ${RPLidar_A1_dimension_y} ${RPLidar_A1_dimension_z}" />
      </geometry>
    </visual>
  </link>
  <joint name="RPLidar_A1_joint" type="fixed">
    <parent link="base_link" />
    <child link="RPLidar_A1_link" />
    <origin xyz="${RPLidar_A1_Position_x} ${RPLidar_A1_Position_y} ${RPLidar_A1_Position_z}"
      rpy="${RPLidar_A1_Orientation_r} ${RPLidar_A1_Orientation_p} ${RPLidar_A1_Orientation_y}" />
  </joint>

</robot>