<?xml version="1.0"?>
<robot name="robomaster" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Position of the SickTim -->
    <xacro:property name="SickTim_Position_x" value="0.1335" /> <!-- in m   -->
    <xacro:property name="SickTim_Position_y" value="0.0" /> <!-- in m   -->
    <xacro:property name="SickTim_Position_z" value="0.11" /> <!-- in m   -->
    <xacro:property name="SickTim_Orientation_r" value="0.0" /> <!-- in rad   -->
    <xacro:property name="SickTim_Orientation_p" value="0.0" /> <!-- in rad  -->
    <xacro:property name="SickTim_Orientation_y" value="0.0" /> <!-- in rad   -->  <!-- Rotation around z Axis   -->

    <!-- Dimension Sick Tim -->
    <xacro:property name="SickTim_dimension_x" value="0.05" />
    <xacro:property name="SickTim_dimension_y" value="0.05" />
    <xacro:property name="SickTim_dimension_z" value="0.10" />

    <!-- Sick Tim-->
    <link name="SickTim_link"/>
    <joint name="SickTim_joint" type="fixed">
        <parent link="base_link" />
        <child link="SickTim_link" />
        <origin xyz="${SickTim_Position_x} ${SickTim_Position_y} ${SickTim_Position_z}"
            rpy="${SickTim_Orientation_r} ${SickTim_Orientation_p} ${SickTim_Orientation_y}" />
    </joint>

</robot>